body{
    text-align: center;
    background-color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button{
    background-color: chocolate;



}

h1{
font-size: xx-large;


}